.banner {
  background-color: saddlebrown;
  height: 200px;
  text-align: center;
}

h1 {
  margin: 0px;
  line-height: 200px;
}

body {
  margin: 0px;
  background-color: rgb(209, 162, 92);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#navBar {
  text-align: center;
}

a {
  text-decoration: none;
  color: saddlebrown;
}

.list {
  padding: 10px;
  display: inline;
}

.pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 100%;
  opacity: 0.5;
}

.inner-img {
  margin: 30px;
  isplay: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 25%;
}

h3 {
  text-align: center;
  outline: dotted 5px saddlebrown;
  padding: 10px;
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

ul {
  text-align: center;
  padding: 10px;

}

.desc {
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center
}